body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
}

div {
    border: 5px solid lightblue;
}

#top_header {
    grid-column: 1 / 3;
}

#main_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aside {
    padding-top: 15px;
}

#footer {
    padding-top: 15px;
    grid-column: 1 / 3;
}
