section > div {
    font-size: 3em;
    font-weight: bold;
    color: white;
    border: 8px solid black;
    height: 150px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

section {
    border: 3px dotted black;
    padding-bottom: 20vh;
}