section {
    position: fixed;
    z-index: 4;
}

div {
    color: white;
    font-size: 3em;
    font-weight: bold;
    /* border: 8px solid black; */
    /* padding-right: 20vw;
    padding-bottom: 20vw; */
    width: 350px;
    height: 350px;
}

#red {
    background-color: red;
    border: 8px solid black;
    z-index: 1;
}

#blue {
    background-color: blue;
    border: 8px solid black;
    position: fixed;
    top: 150px;
    left: 200px;
    z-index: -1;
}

#green {
    background-color: green;
    border: 8px solid black;
    position: fixed;
    top: 340px;
    left: 60px;
    z-index: 3;
}