body {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

body > * {
    border: 4px solid lightblue;
}

header {
    grid-column: 1 / 4;
    order: 1;
}

nav {
    order: 4;
}

main {
    order: 2;
}

aside {
    order: 3;
}

footer {
    grid-column: 1 / 4;
    order: 5;
}