p {
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid black;
}

body > p {
    background-color: lightblue;
    width: 10rem;
    /* float: right; */
}

section {
    /* position: relative; */
}

#box {
    /* float: left; */
    display: inline-block;
    height: 10rem;
    border: 2px solid black;
    background-color: lightgreen;
}

#long {
    /* clear: left; */
    /* position: relative; */
    /* z-index: 4; */
    background-color: lightyellow;
}