p {
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid black;
}

body > p {
    background-color: lightblue;
    float: right;
}

section {
    /* position: relative; */
}

#box {
    float: left;
    /* position: absolute; */
    top: -20px;
    left: 100px;
    width: 15rem;
    height: 10rem;
    /* z-index: 6; */
    border: 2px solid black;
    background-color: lightgreen;
}

#long {
    clear: left;
    /* position: relative; */
    /* z-index: 4; */
    background-color: lightyellow;
}